<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PictureWaterStain.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CFB03C031CCA467500F3DC9B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CFB03C1F1CCA467500F3DC9B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CFB03C2A1CCA467500F3DC9B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
